hw1/main1
hw1/main2
hw1/mesh1
hw1/solutions1
hw1/mesh2
hw1/solutions2
hw2/NH Solver/README.md
hw2/NH Solver/build
hw2/NH Solver/mesh
hw2/NH Solver/config
hw2/NH Solver/Kglobal.txt
hw2/MR Solver/README.md
hw2/MR Solver/build
hw2/MR Solver/mesh
hw2/MR Solver/config
